<!DOCTYPE html>

<head>
  <title>OpenAI PlayGround</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <!-- <img src="{{ url_for('static', filename='dog.png') }}" class="icon" /> -->
  <h3>Test Your Prompt</h3>
  <form action="/" method="post">
    <textarea name="prompt" placeholder="Enter a prompt" style="width:800px; height:300px;" required></textarea>
    <br>
    <input type="submit" value="Generate names" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>